<div id="graph" class="network-canvas" xmlns:svg="http://java.sun.com/JSP/Page">
  <ngx-graph class="chart-container"
             [links]="links"
             [nodes]="nodes"
             [autoZoom]="true"
             [autoCenter]="true">
    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)">
        </svg:path>
        <svg:text
          class="edge-label"
          text-anchor="middle">
          <textPath class="text-path"
                    [attr.href]="'#' + link.id"
                    [style.dominant-baseline]="link.dominantBaseline"
                    startOffset="50%">
            {{link.label}} <!-- not visible -->
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>

  </ngx-graph>
</div>

